@import "/scss/config";

.cart__grid {
  max-width: 1200px;
  margin: 0 auto;
}

.cart__row {
  display: flex;
  flex-direction: column;
  margin-left: -$gutter*0.5;
  margin-right: -$gutter*0.5;

  @media (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    margin-left: -$gutter;
  }
}

.cart__col {
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: 700px) {
    width: 65%;
    padding-left: 0;
  }
}

.cart__col__img {
  padding-left: $gutter;
  padding-right: $gutter;

  @media (min-width: 700px) {
    width: 35%;
    padding-left: 0;
  }

  @media (min-width: 1100px) {
    width: 34.7%;
  }
}

.cart__img img {
  width: 100%;
  height: 450px;
  margin-top: $gutter;

  @media (min-width: 700px) {
    height: 250px;
    padding-left: $gutter;
  }

  @media (min-width: 1100px) {
    height: 400px;
  }
}

.cart__title {
  margin-top: $gutter;
  text-align: left;

  @media (min-width: 700px) {
    padding-left: $gutter;
  }
}

.cart__product__ur {
  margin-top: $gutter;

  @media (min-width: 700px) {
    margin-top: $gutter*3.9;
  }
}

.cart__product__heyrnatol {
  margin-top: $gutter;

  @media (min-width: 700px) {}
}

.cart__description p {
  margin-top: $gutter*0.5;
}

.cart__cost {
  margin-top: $gutter;

  @media (min-width: 700px) {
    margin-top: $gutter*4.5;
  }

  @media (min-width: 1100px) {
    margin-top: $gutter*12;
  }
}

.cart__grid p {
  margin-top: $gutter*0.5;
}

.cart__col__box {
  display: flex;
  flex-direction: row;
}

.cart__col__box select {
  width: $gutter*5;
  border: 1px solid $svartur;
  margin-right: $gutter*0.5;
  height: $gutter*1.5;
  padding-left: $gutter*0.5;
}

.cart__button {
  margin-right: $gutter*0.5;
  padding: $gutter*0.5 $gutter*0.5 $gutter*0.5 $gutter*2.5;
  background: $hvitur url('../img/cart.svg');
  background-position: $gutter*0.5 2px;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease-in-out;
  background-size: 25px;
  border-radius: 5px;
  height: $gutter*1.5;
  white-space: nowrap;
}

.cart__button:hover {
  background-color: $bleikur;
}

.cart__col__form__left {
  padding-left: $gutter;
  padding-right: $gutter;

  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    width: 50%;
    padding-right: $gutter*0.5;
  }

  @media (min-width: 1100px) {
    width: 33.333%;
    margin-left: 16.4%;
  }

  @media (min-width: 1200px) {
    padding-left: $gutter;
    padding-right: 0px;
  }
}

.cart__col__form__right {
  padding-left: $gutter;
  padding-right: $gutter;

  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    width: 50%;
    padding-left: $gutter*0.5;
  }

  @media (min-width: 1100px) {
    width: 33.333%;
    padding-right: $gutter*0.5;
  }

  @media (min-width: 1200px) {
    padding-left: $gutter;
    padding-right: $gutter*0.17;
  }
}

.cart__form__title {
  margin-top: $gutter;
  text-align: left;
}

.form__label {
  margin-top: $gutter;
}

.form__box {
  width: 66.667777%;
  float: right;
  height: $gutter*1.5;
  border: 1px solid $svartur;
}

.form__box__gildistimi {
  height: $gutter*1.5;
}

.form__label__gildistimi {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter;
}

.label__bil {
  margin-right: $gutter*0.8;
}

.form__button {
  margin-left: 25%;
  width: 50%;
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: $bleikur;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;

  @media (min-width: 700px) {
    width: 33.333%;
    margin-left: 33.333%;
  }

  @media (min-width: 1100px) {
    width: 20%;
    margin-left: 40%;
  }
}

.form__button:hover {
  background-color: $svartur;
}