// TODO stillingar hér

// Litapalletta
$svartur: #000;
$hvitur: #fff;
$graenn: #afb281;
$blagrar: #cee8ff;
$gulgrar: #fcffd2;
$bleikur: #cc9694;

// Grunnstærðir
$gutter: 20px;
$leturstaerd: 16px;
// 12 14 16 18 21 24 36 48 60

// Leturgerðir
$meginmal: Arial, sans-serif;
$fyrirsogn: Verdana, serif;

// Stillingar
$kvikun: 300ms ease-in-out;
$brotpunktur1: 700px;
$brotpunktur2: 1000px;
$brotpunktur3: 1240px;
