@import "scss/config";

.header {
  width: 100%;
  padding-bottom: 0.5*$gutter;
  background-color: $graenn;
}

.header__contents {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  flex-direction: column;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $brotpunktur1) {
  .header__menu__cart {
    margin-top: -40px;
    margin-left: calc(100% - 110px);
  }
}

.header__title {
  margin: $gutter;
  font-family: $fyrirsogn;
  font-size: 3em;
  text-align: center;

}

.header__menu__list {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__menu * {
  margin-bottom: 0.5*$gutter;
}

.header__menu__item {
  margin: $gutter;
  color: $svartur;
  text-decoration: none;
  transition: $kvikun;
}

.header__menu__item:hover {
  color: $blagrar;
}

.cart_img {
  display: inline-block;
  height: $gutter;
  margin: 0 -1em -0.25em 0;
}
