@import "scss/config";

//TODO 
//Það er eins og það sé einhvað buggað, 
//höktar þegar spjaldið snýst?

.staff__grid {
  max-width: 1200px;
  margin: 0 auto;
}

.staff__grid div {
  line-height: 350px;
  text-align: center;
}


.staff__row {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1240px) {
    margin-left: -$gutter*0.5;
    margin-right: -$gutter*0.5;
  }
}

.staff__grid img {
  width: 100%;
  height: 450px;
  margin-top: $gutter;

  @media (min-width: 1500px) {
    height: 650px;
  }
}

.staff__grid span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: $gutter;
}

.staff__col {
  height: 450px;

  padding-left: $gutter*0.5;
  padding-right: $gutter*0.5;

  margin-bottom: $gutter;

  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;

  @media (min-width: 800px) {
    width: 50%;
  }

  @media (min-width: 1500px) {
    height: 650px;
  }

}

.staff__col:hover {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  backface-visibility: hidden;
}

.face.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
